/* MainPage.css */

h1 {
    color: #FF4F00;
    font-family: 'Aclonica', sans-serif;
    font-size: 25px;
    margin: 0;
}

h2 {
    font-family: 'Aclonica', sans-serif;
    font-size: 15px;
    margin: 5px;
    margin-top: 20px;
}

p {
    font-family: 'Emblema One', sans-serif;
    font-size: 10px;
    margin: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) for the desired level of transparency */
    z-index: 998; /* Make sure the overlay appears below the popover panel */
  }

  
.container {
    width: 600px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow-y: auto; /* Enable vertical scrolling */
    margin-left: 20px;
  }
  
.scrollable-content {
padding: 10px; /* Adjust padding as needed */
}

.row {
display: flex;

align-items: center;
border-bottom: 1px solid #ccc; /* Optional: Add borders between rows */
}

.gray-container {
    min-width: 200px; /* Adjust the width as needed */
    min-height: 100px; /* Adjust the height as needed */
    max-width: 800px;
    background-color: #ccc; /* Gray background color */
    border-radius: 15px; /* Rounded corners */
    margin-left: 10px; /* Adjust margin as needed */
  }
  
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
}
    
img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}
